<nav class="bg-cyan-600 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <div class="col-span-1 lg:mx-auto my-5 text-white  " style="text-align:center">  
		  <a href="/" class="font-bold text-4xl font-serif text-text-red-300 hover:bg-blue-500 " style= "color:white;">Apna Library</a> 
	  </div>
    <div class="hidden w-full md:block md:w-auto" id="">
      <%= link_to "Admin login", new_user_session_path, class:"btn p-4 3px-auto text-white bg-gray-800 administration-link text-center text-sm border-white rounded hover:bg-blue-500 transition-colors duration-300 flex items-end"  %>
    </div>
    <div class="hidden w-full md:block md:w-auto" id="">
      <%#= link_to "Librarian login", new_librarian_session_path, class:"btn p-4 3px-auto text-white bg-gray-800 administration-link text-center text-sm border-white rounded hover:bg-blue-500 transition-colors duration-300 flex items-end"  %>
    </div>
    <div class="hidden w-full md:block md:w-auto" id="">
      <%#= link_to "Member login", new_user_session_path, class:"btn p-4 3px-auto text-white bg-gray-800 administration-link text-center text-sm border-white rounded hover:bg-blue-500 transition-colors duration-300 flex items-end"  %>
    </div>
  </div>    
</nav>

<%= render "/books/navbar" %>